<div class="gallery {{$ctrl.category}}">

    <h2>Photo Slider showing photos from Flickr's "{{$ctrl.category}}" category</h2>

    <div class="slider-container">
        <div class="preloader" ng-if="$ctrl.isLoadingContent">Loading content...</div>
        <a ng-if="!$ctrl.isActiveFirst" class="thumb prev" title="previous image" href="#" ng-click="$ctrl.showPrev()"></a>
        <div class="mask">
            <ul ng-class="{'animate-next': $ctrl.isAnimationNext, 'animate-prev': $ctrl.isAnimationPrev}">
                <li ng-repeat="image in $ctrl.images" class="photo" ng-class="{'active': image.isActive, 'first': $ctrl.isActiveFirst && image.isActive, 'next': image.isNext, 'prev': image.isPrev}">
                    <image ng-src="{{image.url}}" alt="{{image.title}}"/>
                </li>
            </ul>
        </div>
        <a ng-if="!$ctrl.isActiveLast" class="thumb next" title="next image" ng-click="$ctrl.showNext()" href="#"></a>
        <div class="photo-info"></div>
        <div class="error-info"></div>
    </div>
</div>