$photo_size: 150px;
$thumb_size: 75px;

body {
  font-size: 10px;
  font-family: aria, verdana, sans-serif;
  .gallery {
    overflow: hidden;
    margin: 10px;
    .slider-container {
      position: relative;
      overflow: hidden;
      background: grey;
      width: 370px;
      .mask {
        margin: 10px;
        width: 350px;
        height: $photo_size;
        float: left;
        overflow: hidden
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 1000000px;
        .photo {
          display: none;
          float: left;
          margin-left: 15px;
          margin-top: 38px;
          &:not(.active) img {
            width: $thumb_size;
            height: $thumb_size;
          }
          &.active, &.prev, &.next {
            display: block;
          }
          &.first {
            margin-left: 100px;
          }
          &.prev {
            margin-left: 10px;
          }
          &.active {
            margin-top: 0px;
            img {
              animation: activate 1s ease alternate;
            }
          }
        }
        &.animate-next {
          .photo {
            &.next {
              img {
                animation: nextShowNext 1s ease alternate;
              }
            }
            &.prev {
              img {
                animation: nextShowPrev 1s ease alternate;
              }
            }
          }
        }
        &.animate-prev {
          .photo {
            &.next {
              img {
                animation: prevShowNext 1s ease alternate;
              }
            }
            &.prev {
              img {
                animation: prevShowPrev 1s ease alternate;
              }
            }
          }
        }
      }
      .thumb {
        position: absolute;
        display: block;
        width: $thumb_size;
        height: $thumb_size;
        top: calc(50% - 37px);
        z-index: 10;
        &.prev {
          float: left;
          left: 20px;
        }
        &.next {
          float: right;
          right: 20px;
        }
      }
    }
  }
}

/*Animations*/

@keyframes activate {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}
@keyframes nextShowNext {
  0% {transform: translateX(90px);}
  100% {transform: translateX(0px);}
}
@keyframes nextShowPrev {
  0% {transform: translateX(150px); width: $photo_size; height: $photo_size;}
  100% {transform: translateX(0px); width: $thumb_size; height: $thumb_size;}
}
@keyframes prevShowNext {
  0% {transform: translateX(-150px); width: $photo_size; height: $photo_size;}
  100% {transform: translateX(0px); width: $thumb_size; height: $thumb_size;}
}
@keyframes prevShowPrev {
  0% {transform: translateX(-90px);}
  100% {transform: translateX(0px);}
}
